body{
    background: rgb(230, 230, 230);
}

dt{
    background-color: rgb(0, 71, 65);
    color: white;
    padding: 15px;
    padding-left: 70px;
    text-transform: uppercase;
}

dd{
    font-size: 25px;
    margin-left: 0px;
    margin-bottom: 40px;
    padding: 20px;
    padding-left: 30px;
    background-color: rgb(0, 128, 117);
    color: seashell;
}

sup{
    color: pink;
}

p{
    font-size: 20px;
}

span{
    margin-right: 10px;
    font-weight: bold;
}