body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 80%;
    padding: 4% 5% 3% 5%;
    margin: 0;
    background-color: rgb(230, 230, 230);
    background-size: cover;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0) 1px 1px 40px,
        rgb(0, 0, 0) -1px -1px 40px;
}

.col-md-6,
.col-md-3 {
    flex: auto;
    max-width: 100%;
    min-width: 1%;
    width: 21%;
    margin-right: 1%;

}

.buton{
    display: flex;
    justify-content: flex-end;
}
svg{
    width: 60px;
    height: 60px;
}
.pass {
    max-width: 100%;
    min-width: 1%;
    width: 20%;
    margin-right: 2%;
    margin-bottom: 10px;
    margin-left: 6px;
}

.Username {
    margin-right: 2%;
    width: 42.5%;
}
.card {
    width: 75%;
}

.header {
    width: 40%;
    margin-bottom: 60px;
    font-size: large;
    color: black;
    font-weight: bold;
    line-height: 10px;
}
.reg{
    margin-right: 14%;
}
.form-control,
.custom-select {
    border: gray;
    background-color: rgb(192, 192, 192);
}

.form-check{
    margin-top: 10px;
}

.form-check-input {
    margin-top: 15px;
}